<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue</title>
</head>
<body>
    <div id="example-6">
        <!-- 当选中时，`picked` 为字符串 "a" -->
        <input type="radio" v-model="picked" value="a">
        <!-- `toggle` 为 true 或 false -->
        <input type="checkbox" v-model="toggle">
        <!-- 当选中第一个选项时，`selected` 为字符串 "abc" -->
        <select v-model="selected">
            <option value="abc">ABC</option>
        </select>
    </div>
</body>

<script src="https://cn.vuejs.org/js/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#example-6',
        data: {
            picked: '',
            toggle: '',
            selected: []
        }
    })
</script>
</html>
