<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue</title>
</head>
<body>
    <div id="example-3">
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="jack">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
</body>

<script src="https://cn.vuejs.org/js/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#example-3',
        data: {
            checkedNames: []
        }
    })
</script>
</html>
